* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'motseratt', sans-serif;
}

.App {
  background-color: #f3e882;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.cold {
  background-color: lightskyblue;
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  padding: 10px;
}

.search-box {
  width: 100%;
  margin: 0 auto;
}

.main {
  margin-top: 40px;
  width: 40%;
  min-width: 300px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: transparent;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin-top: -5px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 24px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.65);
}

.location-box .location {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  padding-top: 15vh;
}

.location-box .date {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #ffffff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.logo {
  padding-top: 25vh;
  text-align: center;
}
h1 {
  color: white;
  font-size: 6rem;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

h3 {
  font-size: 1.5rem;
  padding-top: 16px;
  color: white;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

@media screen and (max-width: 510px) {
  body {
    overflow: hidden;
  }

  .logo {
    padding-top: 15vh;
  }

  h3 {
    font-size: 1.2rem;
    padding: 6vh 30px;
  }
  h1 {
    font-size: 5rem;
  }
  .main {
    margin-top: 0px;
  }
}
