* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'motseratt', sans-serif;
  overflow: hidden;
  text-decoration: none;
}

.app {
  background-color: #f3e882;
  transition: 0.4s ease-out;
  height: 100vh;
  width: 100vw;
}

.app--cold {
  background-color: lightskyblue;
}

.home {
  height: 100vh;
  width: 100vw;
  padding: 5%;
}

.home__heading {
  padding-top: 20vh;
  text-align: center;
}

.home__heading--one {
  color: white;
  font-size: 4.2rem;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.home__heading--two {
  font-size: 1.5rem;
  padding-top: 16px;
  color: white;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.home__search-box {
  width: 90%;
  padding: 10px;
  margin: 20px auto;
}

.search-box__input {
  display: block;
  width: 100%;
  padding: 15px 30px;
  border: none;
  outline: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1.7px;
  font-size: 24px;
  font-weight: 600;
  transition: 0.4s ease;
  text-align: left;
}

.search-box__input:focus {
  background-color: rgba(255, 255, 255, 0.65);
}

.weather {
  height: 100vh;
  width: 100vw;
  padding: 2px 5%;
}

.weather__search-box {
  width: 100%;
  padding: 0 10px 10px;
  margin: 0 auto;
}

.weather__location {
  text-align: center;
}

.general-info__location {
  color: white;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  padding-top: 15vh;
}

.general-info__date {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather__info {
  text-align: center;
}

.info__temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #ffffff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.info__weather {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.not-found {
  padding: 2px 5%;
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__container {
  width: 100%;
  text-align: center;
}

.not-found__heading {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

@media screen and (min-width: 650px) {
  .home__heading {
    padding-top: 15vh;
  }

  .home__heading--one {
    font-size: 6rem;
  }

  .home__heading--two {
    font-size: 2rem;
  }

  .weather__search-box,
  .home__search-box {
    width: 70%;
  }

  .search-box__input {
    padding: 15px 50px;
  }

  .not-found__heading {
    font-size: 4.2rem;
  }
}
